.titulo{
    border-bottom: 2px solid rgb(128, 128, 128, .8);
}

.form {
    display: flex;
    flex-direction: column;
}

.form > label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3.5px;
}

.form input {
    height: 35px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 2px solid gray;
    border-radius: 5px;
}
.form #inserir {
    height: 40px;
    font-size: 25px;
    width: 20%;
    align-self: flex-end;
    background-color: RGB(211, 31, 43);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}